<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <div class="main-content">
        {{>headers}}
        <p>This website was created by Deji Odetayo. It uses data from mapbox.net and climacell.co</p>
        <img class="portrait" src="/img/deji.jpg">
    </div>
    
    {{>footer}}
</body>


</html>